body {
	color: #1b1b17; 
	background: rgb(23, 211, 32) url(farts.jpg) repeat; 
	}

.button {
    height: 100%;
    width: 100%;
    padding: 0%;
    margin: 0%;
    align-items: center;
    align-content: center;
    border-radius: 50%;
    cursor: pointer;
  }

  #peach {
    height: 100%;
    width: 100%;
    padding: 0%;
    margin: 0%;
    align-items: center;
    align-content: center;
    border-radius: 50%;
  }
  
  p {
    text-align: center;
    text-decoration: none;
  }
  a {
    text-decoration: underline;
    color: #1b1b1b;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }
  
  a:hover {
    color: indigo;
  }